*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.body{
	font-size: 20px;
	overflow-x: hidden;
	color: blue;
	border : 5px solid yellow;
	font-family: cursive;
	font-style: italic;
}
header{
	background-image: globe.jpg;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-color:blue;
}
.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}
.row{
	max-width: 1180px;
	margin-left:20px;
}
.logo{
	height: 120px;
	width: auto;
	float: left;
	margin-top: 20px;
	border: 5px solid yellow;
}
.main-nav{
	float: right;
	margin-top: 50px;
}
.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 30px;
}
.main-nav li a{
	padding: 5px 0;
	color: yellow;
	text-decoration: none;
	font-size: 90%;
	font-weight: 100;
	border: 1px solid yellow;
}
.main-nav li a:hover{
	border-bottom: 2px solid black;
}
.main-content-header{
	width: 1180px;
	position: absolute;
	border: 5px solid yellow;
	top: 50%;
	left: 50%;
	transform: translate(-29%,-29%);
}

h1{
	color: yellow;
	font-size: 220%;
	word-spacing: 8px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	font-weight:lighter;

}
.btn{
	display: inline-block;
	color: black;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	border-radius: 500px;
	border-radius-color: yellow;
	transition: background-color 0.2s,border 0.2s,color 0.2s;

}
#beg{
	margin-top: 230px;
}
.btn-full{
	background-color: transparent;
	color: yellow;
	margin-right: 10px;
	border: 1px solid yellow;
}
.btn-full:hover{
	background-color: black;
}
.btn-nab{
	background-color: transparent;
	color: yellow;
	margin-right: 10px;
	border: 1px solid #fff;
}
.btn-nab:hover{
	background-color: black;

}
.colorchange{
	animation: colorchangeshruti 1s infinite;
}



@keyframes colorchangeshruti{
	0%{color:red;}
	25%{color:violet;}
	50%{color:yellow;}
	100%{color:pink,green;}
}
@media only screen and (max-width:1180px){
	.main-content-header{
	width:100%;
	padding:0 2%;
}
}
@media only screen and (max-width:998px){
	.h1{
		font-size: 200%;
	}

@media only screen (max-width:768px){
	h1{font-size: 180%;}
	.main-nav{display:none;}
}



